<#include "../include/head.html">
<body style="padding: 10px;">
	<form id="order_detail2Form"></form>
    <div id="order_detail2Grid" style="margin: 0; padding: 0"></div>
    <script type="text/javascript">
    
    	
    	/* //头保存按钮触发
    	window.dosave = function f_save() {        	
            Hap.submitForm({
                form:order_detailForm,
                url:'${base.contextPath}/org/headers/submit',
                success:function(json, opt){
                    $.ligerDialog.success("<@spring.message "hap.tip.success"/>", '<@spring.message "hap.tip.info"/>');
                }
            });
        } */
        <#assign isedit = (RequestParameters.isedit!'0')/>
        var order_detail2Form = $("#order_detail2Form");
        var form  = order_detail2Form.ligerForm({
            inputWidth : 280,
            fields : [
                      //订单头ID
                       {
                        name: "headerId",
                        type: "hidden"
                        },
                        //订单编号
                        {
                            type : 'text',
                            label : '<@spring.message "hap.org.headers.ordernumber"/>',
                            name : 'orderNumber',
                            valueField : 'orderNumber',
                            newline : false,
                            group:'订单明细',
                            width: 120,
                            validate : {
                                required : true
                            }
                            },
                            //公司名称
                            {
                                	display:'<@spring.message "hap.org.headers.companyname"/>',
                                	name:'companyIdLov',
                                	type:'popup',
                                	options : {
                                    	idField:'headerId',
                                        dto:'hap.org.dto.Headers'
                                    },
                                	newline:false,
                                	textField:'companyName',
                                	valueField:'companyId',
                                	width: 120,
                                	validate : {
                                        required : true
                                    },
                                	editor:${lovService.getLov(base.contextPath,base.locale,"showCompany")} 
                            },
                            //客户名称
                            {
                            	display:'<@spring.message "hap.org.customer.customername"/>',
                            	name:'customerId',
                            	type:'popup',
                            	options : {
                                	idField:'headerId',
                                    dto:'hap.org.dto.Headers'
                                },
                            	newline:false,
                            	textField:'customerName',
                            	valueField :'customerId',
                            	width: 120,
                            	validate : {
                                    required : true
                                },
                            	options: $.extend(${lovService.getLov(base.contextPath, base.locale, "showCustomer")},{
                            	    onLoadData: function() {
                            	        this.setParm('companyId', $.ligerui.get('companyIdLov').getValue())
                            	    }
                            	})
                           
                            },
                            //订单日期
                               {
                                    display : '<@spring.message "hap.org.headers.orderDate"/>',
                                    name : 'orderDate',
                                    valueField : 'orderDate',
                                    align : 'left',
                                    options : {
                                    	idField:'headerId',
                                        dto:'hap.org.dto.Headers'
                                    },
                                    validate : {
                                        required : true
                                    },
                                    format : "yyyy-MM-dd",
                                    width : 120,
                                    type : 'date'
                                },
                            //订单金额
                               {
                                    type : 'text',
                                    label : '<@spring.message "hap.org.headers.ordermoney"/>',
                                    name : 'ordermoney',
                                    options : {
                                    	idField:'headerId',
                                        dto:'hap.org.dto.Headers'
                                    },
                                    valueField : 'orderMoney',
                                    newline : false,
                                    width: 120
                                },
                                //订单状态
                                {
                                    type : 'text',
                                    label : '<@spring.message "hap.org.headers.orderStatus"/>',
                                    name : 'orderStatus',
                                    options : {
                                    	idField:'headerId',
                                        dto:'hap.org.dto.Headers'
                                    },
                                    valueField:"orderStatus",
                                    newline : false,
                                    width: 120
                                }
          ],
            enabledEdit : true,
            width : '99%',
            height : '98%',
            checkbox : true
        });

    


    <#if isedit == '1'>
    Hap.loadForm({form:form,url:'${base.contextPath}/org/Headers/query',para:{headerId:${RequestParameters.headerId}}})
   </#if>
    </script>
</body>
</html>
